{
  "singleQuote": true,
  "trailingComma": "all",
  "endOfLine": "crlf",
  "editor.formatOnSave": true,
  "editor.formatOnSaveMode": "modificationsIfAvailable",
  "[prisma]": {
    "editor.formatOnSaveMode": "file"
  },
  "rules": {
    "no-unused-vars": "off"
  }
}
